<div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Moses Options</h2>
        </div>
        <div class="mdl-card__supporting-text">
          
          <!--output controll options-->
          <div class="row">
            <div class="col-lg-6">
              <md-slide-toggle
                  mdTooltip="Use named labels instead of position place-holders when printing candidates"
                  id="w1"
                  (change)="onW1Changed($event)"
                  [color]="primary" >
                  W1
              </md-slide-toggle>
            </div>
            <div class="col-lg-6">
               <md-slide-toggle
                  mdTooltip="Prevent printing of the score"
                  id="output-score"
                  [color]="primary" >
                  output-score
              </md-slide-toggle>
            </div>
            <div class="col-lg-6">
              <br>
              <md-select placeholder="log level" name="loglevel" 
                  id="loglevel" mdTooltip="Specify the level of  detail  for  debug  logging">
                <md-option [value]="NONE">NONE</md-option>
                <md-option [value]="ERROR">ERROR</md-option>
                <md-option [value]="WARN">WARN</md-option>
                <md-option [value]="INFO">INFO</md-option>
                <md-option [value]="DEBUG">DEBUG</md-option>
                <md-option [value]="FINE">FINE</md-option>
              </md-select>
            </div>
            <div class="col-lg-6">
               <md-input-container mdTooltip="The number of results to return, ordered according to score">
                  <label for="result-count">result-count</label>
                  <input mdInput id="result-count" type="number">
                </md-input-container>
            </div>
          </div>

          <br>

          <!--algorithm control option-->
          <div class="row">
            <div class="col-lg-4">
              <md-input-container>
                <label for="complexity-ratio">complexity-ratio</label>
                <br>
                <input mdInput id="complexity-ratio" type="number">
              </md-input-container>
            </div>
            <div class="col-lg-4">
              <md-input-container mdTooltip="Recommended values for this option are 100 to 500">
                <label for="hc-crossover-min-neighbors">hc-crossover-min-neighbors</label>
                <input mdInput id="hc-crossover-min-neighbors" type="number">
              </md-input-container>
            </div>
            <div class="col-lg-4">
              <md-input-container 
                mdTooltip="If crossover is enabled, this controls the number of cross-ever instances that are created">
                <label for="hc-crossover-pop-size">hc-crossover-pop-size</label>
                <input mdInput id="hc-crossover-pop-size" type="number">
              </md-input-container>
            </div>
          </div>

          <br>  

          <!--boosted dynamic features-->
          <div class="row">
            <div class="col-md-6">
              <br>
              <md-select placeholder="fs-algo" name="fs-algo"
                          id="fs-algo" mdTooltip="Choose the feature-selection algorithm">
                <md-option [value]="simple">simple</md-option>
                <md-option [value]="inc">inc</md-option>
                <md-option [value]="smd">smd</md-option>
                <md-option [value]="hc">hc</md-option>
                <md-option [value]="random">random</md-option>
              </md-select>              
            </div>
            <div class="col-md-6">
              <md-input-container mdTooltip="Select num features for use">
                <label for="fs-target-size">fs-target-size</label>
                <input mdInput id="fs-target-size" type="number">
              </md-input-container>
            </div>
            <div class="col-md-6">
              <md-slide-toggle id="enable-fs" mdTooltip="Enable integrated feature selection">
                  enable-fs
              </md-slide-toggle>
            </div>
          </div>
          
          <br>

          <!--algorithm tunning options-->
          <div class="row">
            <div class="col-md-12">
              <md-select placeholder="reduct-knob-building-effort" name="reduct-knob-building-effort" 
                        id="reduct-knob-building-effort" 
                        style="width: 80%; margin: auto"
                        mdTooltip="Effort allocated for reduction during the knob-building stage">
                <md-option [value]="0">0</md-option>
                <md-option [value]="1">1</md-option>
                <md-option [value]="2">2</md-option>
                <md-option [value]="3">3</md-option>
              </md-select>
            </div>
            <div class="col-md-12">
              <br>
              <md-slide-toggle
                mdTooltip="Controls hill-climbing algorithm behavior"
                        id="hc-widen-search"
                        [color]="primary" >
                        hc-widen-search
              </md-slide-toggle>
            </div>
          </div>

          <br>  

          <!-- input specification -->
          <div class="row">
            <div class="col-lg-12">
              <md-select placeholder="log level" name="loglevel"
                      style="width: 80%; margin: auto" 
                      id="loglevel" mdTooltip="Specify the level of  detail  for  debug  logging">
              <md-option [value]="NONE">NONE</md-option>
              <md-option [value]="ERROR">ERROR</md-option>
              <md-option [value]="WARN">WARN</md-option>
              <md-option [value]="INFO">INFO</md-option>
              <md-option [value]="DEBUG">DEBUG</md-option>
              <md-option [value]="FINE">FINE</md-option>
            </md-select>
            </div>
          </div>

          <br>

          <!--large params-->
          <div class="row">
            <div class="col-lg-12">
              <br>
              <md-input-container>
              <input mdInput placeholder="Target Feature" style="width: 100%"
                    name="targetFeature" mdTooltip="The  column is used as the target feature to fit"
                    [(ngModel)]="project.targetFeature" >
            </md-input-container>
            </div>
          </div>

        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Start Analysys
          </a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <!--<i class="material-icons">share</i>-->
            </button>
          </div>
        </div>