<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col sidebar">
    <div class="mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Filtering Options</h2>
        </div>
      <div class="mdl-card__supporting-text">
          

          <!--<md2-accordion [multiple]="multiple">
          <md2-accordion-tab *ngFor="let tab of accordions" 
                              [header]="tab.title" 
                              [active]="tab.active" 
                              [disabled]="tab.disabled">
            {{tab.content}}
          </md2-accordion-tab>
          </md2-accordion>-->

          <!--output controll options-->
          <div class="row">
            <div class="col-lg-6">
              <md-slide-toggle
                  [color]="primary" >
                  some options
              </md-slide-toggle>
            </div>
            <div class="col-lg-6">
               <md-slide-toggle
                  [color]="primary" >
                  Another option
              </md-slide-toggle>
            </div>
            <div class="col-lg-6">
              <br>
              <md-select placeholder="Another Option" name="loglevel"> 
                <md-option [value]="NONE">NONE</md-option>
                <md-option [value]="ERROR">ERROR</md-option>
                <md-option [value]="WARN">WARN</md-option>
                <md-option [value]="INFO">INFO</md-option>
                <md-option [value]="DEBUG">DEBUG</md-option>
                <md-option [value]="FINE">FINE</md-option>
              </md-select>
            </div>
            <div class="col-lg-6">
               <md-input-container>
                  <label for="result-count">Zoom level</label>
                  <input mdInput id="result-count" type="number">
                </md-input-container>
            </div>
          </div>

          <br> <br>
          <!--boosted dynamic features-->
          <div class="row">
            <div class="col-md-6">
              <br>
              <md-select placeholder="algo option" name="fs-algo">
                <md-option [value]="simple">simple</md-option>
                <md-option [value]="inc">inc</md-option>
                <md-option [value]="smd">smd</md-option>
                <md-option [value]="hc">hc</md-option>
                <md-option [value]="random">random</md-option>
              </md-select>              
            </div>
            <div class="col-md-6">
              <md-input-container>
                <label for="fs-target-size">fs-target-size</label>
                <input mdInput id="fs-target-size" type="number">
              </md-input-container>
            </div>
            <div class="col-md-6">
              <md-slide-toggle>
                  enable-fs
              </md-slide-toggle>
            </div>
          </div>
          
          <br>

          <!--algorithm tunning options-->
          <div class="row">
            <div class="col-md-12">
              <md-select placeholder="reduct-knob-building-effort" name="reduct-knob-building-effort" 
                        id="reduct-knob-building-effort" 
                        style="width: 80%; margin: auto"
                        mdTooltip="Effort allocated for reduction during the knob-building stage">
                <md-option [value]="0">0</md-option>
                <md-option [value]="1">1</md-option>
                <md-option [value]="2">2</md-option>
                <md-option [value]="3">3</md-option>
              </md-select>
            </div>
            <div class="col-md-12">
              <br>
              <md-slide-toggle
                mdTooltip="Controls hill-climbing algorithm behavior"
                        id="hc-widen-search"
                        [color]="primary" >
                        hc-widen-search
              </md-slide-toggle>
            </div>
          </div>

        </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--8-col sidebar">
    <div id="visualizer-content">
      Visulaizer goes here.
     <p>
        {{ result }}
      </p>    
    </div>
  </div>

</div>