
<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Mozi</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" [routerLink]="['', 'projects','create']" href="">Create Project</a>
        <a class="mdl-navigation__link" [routerLink]="['', 'projects']">Project List</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" [routerLink]="['', 'projects','create']" href="">Create Project</a>
      <a class="mdl-navigation__link" [routerLink]="['', 'projects']">Project List</a>
    </nav>
  </div>

  <main>
    <!--<router-outlet></router-outlet>-->
    <router-outlet></router-outlet>

  </main>
</div>
