<div *ngIf="project">

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
          <div class="secondary-toolbar">
            <div class="mdl-layout__header-row">
            <nav class="mdl-navigation mdl-layout--large-screen-only" style="margin: auto">
              <a class="mdl-navigation__link project-detail-link" (click)="rowDataPageSelected()" style="cursor: pointer;">
              Row Data
              </a>
              <a class="mdl-navigation__link project-detail-link" (click)="visualizeResultPageSelected()" style="cursor: pointer;">
              Visualize Result
              </a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    
  </div>

  <visualize-result *ngIf="visualize_result_page_selected" [result]="resultCombo"></visualize-result>
  <project-row-data [id]="id" [from]="from" [size]="size" (analyse)="startAnalyse($event)" *ngIf="row_data_page_selected"></project-row-data>
  <md-progress-circle
        [mode]="Indeterminate">
    </md-progress-circle>
</div>

<div *ngIf="!project">
  <md-progress-circle
        [mode]="Indeterminate">
    </md-progress-circle>
</div>